@font-face {
    font-family: 'Product-sans';
    src: url('Product\ Sans\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Product-sans-bold';
    src: url('Product\ Sans\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body{
    width: 400px;
    height: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: url(weatherbackground.png);
}

.input{
    margin-bottom: 10px;
    font-family: 'Product-sans', sans-serif;

    
}

#city{
    padding: 5px;
    font-family: 'Product-sans', sans-serif;
}

.submit{
    padding: 5px;
    cursor: pointer;
    font-family: 'Product-sans', sans-serif;
    border-radius: 10px;
    color: #3d3d3d;
}

p{
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-family: 'Product-sans', sans-serif;
}

sup{
    font-size: 0.7em;
    font-family: 'Product-sans', sans-serif;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #3d3d3d;
    font-weight: bold;
    font-family: 'Product-sans-bold', sans-serif;
}

.location span{
    font-size: 1.7em;
    font-family: 'Product-sans-bold', sans-serif;
}

.location sup{
    height: 1.2em;
    padding: 0.2em 0.6em;
    margin-left: 0.2em;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(0, 200, 107);
    font-family: 'Product-sans-bold', sans-serif;

}

.temp{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    color: #3d3d3d;
    text-align: center;
    font-family: 'Product-sans-bold', sans-serif;
}

.temp_feel_like{
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    margin-top: 10px;
    color: #3d3d3d;
    text-align: center;
    font-family: 'Product-sans-bold', sans-serif;
}