
body{
    background-color: #2c3e50;
    min-width:480px;
    min-height: 500px;
}
#container {
    position: relative;
   
}

#box {
    position: absolute;
    left: 80px;
    border-radius: 25px;
    width: 300px;
    height: 400px;
    background-color:  #247de2;
    top: 90px;
}

#stuff {
    position: absolute;
    left: 35px;
}
#dis {
    position: absolute;
    top: 180px;
}
#out1 {
    position: absolute;
    top: 230px;
}
#out2 {
    position: absolute;
    top: 280px; 
}

#formula {
    position: absolute;
    left: 45px;
    top: 40px;
}






input {
    background-color: rgb(255, 255, 255);
}

p {
font-size: 20px;
}

button {
    position: absolute;
    background-color: #5d8e5c;
    font-size: 20px;
    border-color: indigo;
    left: 60px;
}
button:hover{
    background-color: aquamarine;
}
h1 {
    position: absolute;
    left: 55px;
}