
body {
    font-size: 14px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 150px;
    padding: 0;
    width: 270px;
    background-color: #2c3e50;
    border: 2px solid black;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}
p{
    color: aliceblue;
}
.title_paragraph {
    
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 80;
    font-size: 18px;

}

#btd{
    cursor: pointer;
}

.do {
    border: 1px solid black;
 border-radius: 3px ; 
background-color:rgb(0, 187, 255);
cursor: pointer ;
box-shadow: 2px;
}

 .do:hover{
    background-color:rgb(45, 95, 98);
}
