:root {
  --primary-color:#353EA1;
}

* {
  box-sizing: border-box
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
  text-align: center;
}

p {
  text-align: center;
}

.btn {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;

}


.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-apperance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media(max-width: 600px) {
  body {
    max-width: 300px;
    height: 100%
  }

  .container {
    max-width: 100%;
  }

  .currency input {
    width: 100%;
  }
}