
body {
    width: 300px;
    height: 450px;
    background-color:  #2c3e50;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  

#h1{
    background-color: rgb(0, 187, 255);

    padding-left: 0px;
    padding-right: 0px;
    
}
#income{
    border-radius: 6cm;
    height: 20px;
    }
#submit{
border-radius: 6cm;
height:20px;
padding-left: 2px;
padding-right: 2px;

}
#submit:hover{
    background-color: rgb(0, 187, 255) ;
}

