/* import google fonts from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --font: 'Poppins', sans-serif;
    --primary-color:#212529;
    --secondary-color:#dee2e6;
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    display: flex;
    font-family: var(--font);
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
}

.toggle{
    position: relative;
    width: 160px;
    height: 60px;
    background: linear-gradient(to bottom, #161616, rgb(26,24,24));
    border-radius: 220px;
    border:1px solid #2d2d2d;
    box-shadow: inset 0 8px 50px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
}

.toggle .toggle-item{
    left: 0;
    width: 48px;
    height: 48px;
    background: linear-gradient(to bottom, rgb(66,66,66), rgb(49,47,47));
    position: absolute;
    border-radius: 220px;
    margin-top: 5px;
    margin-left: 6px;
    box-shadow: inset 0 8px 50px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}

h2{
    display: block;
    position: absolute;
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 600;
    margin-left: 40px;
}


.toggle .toggle-item.active{
    left: 100px;
    width: 48px;
    height: 48px;
    background: var(--secondary-color);
    position: absolute;
    border-radius: 220px;
    margin-top: 5px;
    margin-left: 6px;
    box-shadow: inset 0 8px 50px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.5s ease;
}
body.active .toggle{
    position: relative;
    width: 160px;
    height: 60px;
    background: var(--secondary-color);
    border-radius: 220px;
    border:1px solid var(--secondary-color);
    box-shadow: inset 0 8px 50px rgba(0,0,0,0.1),
    inset 0 8px 8px rgba(0,0,0,0.1),
    inset 0 -4px 4px rgba(0,0,0,0.1);
}

body.active{
    background: var(--secondary-color);
    transition: all 0.5s ease;
}
body.active h2{
    color: var(--primary-color);
    margin-right: 80px;
}

html{
  filter:  invert(1) hue-rotate(180deg)
}
img, picture, video{
  filter: invert(1) hue-rotate(180deg)
}