.game1{
    background-image: url(Anime/1.jpg);
    background-size: 400px 200px;
}
.game2{
    background-image: url(Anime/2.jpg);
    background-size: 400px 200px;
}
.game3{
    background-image: url(Anime/3.jpg);
    background-size: 400px 200px;
}
.game4{
    background-image: url(Anime/4.jpg);
    background-size: 400px 200px;
}
