body{
    width: 500;
    height: 500;
    background-color: rgb(60, 111, 156);
    display: flex;
    justify-content: center;
}

h1{
    display: inner-flex;
    margin: auto 12px;
    font-size: 22px;
    color: rgb(17, 17, 20);
    border-radius: 10px ;
    border: 5px solid lightblue;
    padding: 13px;
}
 
.feed-title a {
    color:rgb(16, 15, 15);
  }