body {
  width: 400px;
  height: 580px;
  background-color: green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: beige;
}

.choices {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.choices button {
  color: white;
  background-color: red;
  border-radius: 8px;
}

#series {
  display: block;
}

.seriesCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seriesName {
  display: flex;
  justify-content: center;
}
