body {
  background: #0f3854;
  background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
  transition: background-color 1s ease-in-out;
  font-family: "Share Tech Mono", monospace;
  width: 500px;
  height: 400px;
}

.app {
  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  text-align: center;
}

#clock {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 80px;
  line-height: 1;
  display: flex;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}
h1 {
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.button:hover {
  background-color: #f7fafa;
}

.button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
#app2 {
  margin-top: 3%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  text-align: center;
}

ul {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 50px;
}

ul li {
  color: whitesmoke;
}

ul li a {
  margin-left: 15px;
  color: white;
  cursor: pointer;
  border: 1px solid #59a2ad;
  border-radius: 5px;
  padding: 0 15px 2px 15px;
  background-color: #59a2ad;
}

ul li a:hover {
  opacity: 0.8;
}

input {
  width: 60%;
  height: 40px;
  color: #5c5c5c;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  margin-right: 10px;
}

.btn_add {
  width: 30%;
  height: 40px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  background-color: #59a2ad;
  color: #fff;
  cursor: pointer;
}

.btn_add:hover {
  opacity: 0.9;
}
