body {
    width: 50%;
    margin: 0;
    min-width: 150px;
    background: #dbe2e8;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
   
}

* {
    box-sizing: border-box;
}

.row{
    padding: 20px;
}
/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}
.container-fluid{
    text-align: center;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    margin: 1px 1px 1px 1px;
    padding: 12px 16px 12px 20px;
    list-style-type: none;
    background: #fff;
    font-size: 17px;
    transition: 0.2s;


    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* !* Set all odd list items to a different color (zebra-stripes) *!
ul li:nth-child(odd) {
    background: #ee3b3d;
}
*/
/* Darker background-color on hover */
ul li:hover {
    background: #2f8aeb;
    color:#fff;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #0d0e3a;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.close1 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close1:hover {
    background-color: #f44336;
    color: white;
}

.close2 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close2:hover {
    background-color: #f44336;
    color: white;
}

.learnClass{
    background: #005cbf;
}
/* Style the header */
.header {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
input {
    background: #eaf0ff;
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    color:#fff;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #007bff;
    color: #f8f8f8;
    float: left;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

#date{
    color:#000;
    font-size: 20px;
    ;
}

.copyright{
    position:relative;
    bottom:0; left:0;
    right: 0;
    text-align: center;
    margin-top: 50px;
    color:#7d979a;
}