td{
    padding:0;
    margin:0;
    width:0%;
    }
    
    .highlight{
    height:150px;
    width:150px;
    font-size:90px;
    text-align:center;
    background-color:white;
    color: lightblue;
    opacity:0.7;
    }
    
    body{
    background-image:url('water.jpg');
    }
    
    
    .menu{
    width:48%;
    background-color:darkblue;
    color:lightblue;
    border: 5px solid lightblue;
    text-decoration:none;
    opacity:0.6;
    }
    
    h1{
    font-family:"Lucida Console", Monaco, monospace;
    font-size:40px;
    color:blue;
    }
    
    #alertbox{
    width:100%;
    background-color:white;
    opacity:0.8;
    color:black;
    font-family:"Impact", Charcoal, sans-serif;
    text-decoration:bold;
    border-radius:10px;
    float:left;
    }
    
    .alertbutton{
    width:75%;
    font-size:25px;
    border-radius:8px;
    }