* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 300px;
  background-color: white;
  text-align: center;
}
.title {
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
}
.button {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 4rem;
  height: 2rem;
  padding: 1rem 0rem;
  margin: 0.5rem auto;
  cursor: pointer;
  border: 0.5px solid black;
}
.row {
  padding: 0 0.2rem;
}
.circle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

/* Animations */
@keyframes movecircleRight {
  from {
    left: 0;
  }
  to {
    left: 100%;
    background-color: white;
    transform: translateX(-100%);
  }
}
@keyframes movecircleLeft {
  from {
    left: 100%;
    transform: translateX(-100%);
  }
  to {
    left: 0;
  }
}
@keyframes backgroundblack {
  from {
    background-color: white;
  }
  to {
    background-color: black;
    border: 0.5px solid white;
    color: white;
  }
}
@keyframes backgroundBlack {
  from {
    background-color: white;
  }
  to {
    background-color: black;
    color: white;
  }
}
@keyframes backgroundwhite {
  from {
    background-color: black;
    border: 0.5px solid white;
    color: white;
  }
  to {
    background-color: white;
  }
}
@keyframes backgroundWhite {
  from {
    background-color: black;
    color: white;
  }
  to {
    background-color: white;
  }
}
