#zorbi-extension-root {
  width: 500px;
  height: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  border-width: 0;
  z-index: 2147483647;
  box-shadow: 0px 0px 5px #0000009e;
  min-width: 350px;
  max-width: 90vw;
  background-color: #f4f5f8;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
#zorbi-extension-body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f4f5f8;
}

#zorbi-extension-resize {
  height: 100%;
  position: fixed;
  top: 0px;
  right: -500px;
  bottom: 0px;
  border-width: 0;
  min-width: 350px;
  max-width: 90vw;
}

#zorbi-tooltip-box {
  all: unset;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #303336;
  border-radius: 0.25rem;
  color: white;
  z-index: 2147483647;
  max-height: 40px;
  height: 100%;
}

.zorbi-tooltip-item {
  padding: 0.4rem 1rem;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}


.zorbi-tooltip-item:hover {
  cursor: pointer;
  background-color: #3e4349;
  border-radius: 0.25rem;
}

#zorbi-tooltip-logo {
  all: unset;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0rem 0.5rem;
  background:#3e4349;
  border-right: 1px;
  border-color:#7c3aed;
 border-radius: 0.25rem;
}

#zorbi-tooltip-logo img {
  all: unset;

  height: 20px;
}



#zorbi-extension-body button:focus {
  outline: none;
}

#zorbi-extension-root::before {
  content: "";
  cursor: w-resize;
  height: 100vh;
  width: 5px;
  position: absolute;
  left: -2.5px;
}

#zorbi-extension-frame {
  width: 100%;
  height: 100%;
}
