@font-face {
	font-family: ProductSans;
	src: url(Product\ Sans\ Regular.ttf);
}

@font-face {
	font-family: ProductSansBold;
	src: url(Product\ Sans\ Bold.ttf);
}

body {
    font-family: ProductSans;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #6723d5, #23d5ab);
}

.container {
    background-color: #44318D;
    width: 350px;
    height: 450px;
    border-radius: 20px;
}
h1 {
    color: #FFFFFF;
    font-size: 30px;
    padding-top: 15px;
    text-align: center;
    font-family: 'ProductSansBold';
}
.container p {
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
}

form input [type="text"] {
    width: 100px;
}
input {
    padding: 10px 20px;
}
.button {
    background-color: rgb(250, 65, 96);
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 20px;
    display: block;
    margin: 30px auto;
    border: none;
    outline: none;
    border-radius: 20px;
}

#billamt {
    width: 60%;
    background: #f7f7f7;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px auto;
}

#service {
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    font-family: 'ProductSans';

}
#peopleamt {
    width: 60%;
    margin-left: 5px 5px 8px 8px;
    border: none;
    outline: none;
    border-radius: 20px;
}

#tips {
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
}