img#helperbird-ocr-image {
	width: 100% !important;
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100% !important;
	min-width: 100% !important;
	min-height: 100% !important;
}

.jcrop-image-stage {
	position: absolute !important;
	top: 0 !important;
	z-index: 2147483647 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	width: 100% !important;
}
