body {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 100%;
    background-size: cover;
    background-color: #e9ade9;

}   
/* Style for body*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  .container {
    
    color: #333;
    text-align: center;
    width: auto;
    margin: auto;
  }
  
  li, p {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    display: inline-block;
    border-radius: .25em;
    overflow: hidden;
    width: auto;
  }
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: black;
  }
  button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    box-shadow: 0 2px 5px 0 
  }