body {
    width : 150px;
    height : 150 px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
}

p {
    display:inline-flex;
    margin:auto;
    font-size: larger;
    color: black;
    border: 2px black;
    padding: 10px;

}