body{
    background-color: #002240;
}

#popup{
    height: 300px;
    width: 300px;
    position: relative;
}

#popup h2{
    font-size:xx-large;
    font-style:italic;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;  

}