body{
max-width: 350px;
max-height: 400px;
width: 350px;
height: 400px;}
 

li {
    list-style-type: none;
    padding: 10px 10px; 
    font-size: medium; 
    border-radius: 10px;
    margin: 0;
    
}
    li.active {
    border: 2px solid #000;


}

p{

    cursor: ;
}