body {
    background: #031720;
  }
  
  .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -265px;
    background: #050606;
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    box-shadow: 0 10px 20px -15px black;
  }
  .container .title {
    margin-bottom: 20px;
  }
  .container input[type=text] {
    display: inline-block;
    border: 0;
    font-size: 20px;
    color: white;
    padding: 10px;
    background: #3FA7D6;
    border-radius: 4px;
    box-shadow: 0 10px 20px -15px black;
  }
  .container input[type=text]:focus {
    outline-width: 0;
  }
  .container button {
    background: #FAC05E;
    border: none;
    border-radius: 5px;
    color: #EE6352;
    box-shadow: 0 10px 20px -15px black;
    font-size: 20px;
    padding: 10px;
  }
  
  #result {
    margin-top: 20px;
    border-top: 4px solid white;
    padding-top: 20px;
    font-size: 30px;
    color: #2f7a9c;
    position: relative;
  }
  #result:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-top: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  
  input[type=text]::-webkit-input-placeholder {
    color: #FFF;
  }