.full-screen-editor {
    background-color: rgb(4, 5, 5);
}

.full-screen-editor #MagiCSS-bookmarklet {
    border-radius: 0 !important;
background-color: black;
    left: 0 !important;
    top: 0 !important;
}
