body {
  text-align: center;
  background-color: #011F3F;
  height: 350px;
  width:350px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 2px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 2px white;
  background-color: grey;
}
