.helperbird-toolbar-button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
.helperbird-toolbar-button {
	text-transform: none;
}
.helperbird-toolbar-button {
	-webkit-appearance: button;
}

.helperbird-toolbar-button {
	background-color: transparent;
	background-image: none;
}
.helperbird-toolbar-button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.helperbird-toolbar-button {
	cursor: pointer;
}
.helperbird-toolbar-a {
	color: inherit;
	text-decoration: inherit;
}
.helperbird-toolbar-button {
	padding: 0;
	line-height: inherit;
	color: inherit;
}
.helperbird-toolbar-svg {
	display: block;
	vertical-align: middle;
}
.helperbird-toolbar-btn {
	cursor: pointer !important;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter,
		-webkit-backdrop-filter;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
	border-radius: var(--rounded-btn, 0.5rem);
}
.helperbird-toolbar-btn:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}
.helperbird-toolbar-btn {
	height: 3rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	line-height: 2;
	padding-left: 1rem;
	padding-right: 1rem;
	min-height: 3rem;
	cursor: pointer !important;
}
.helperbird-toolbar-btn-sm {
	height: 2rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	line-height: 2rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	min-height: 2rem;
}
.helperbird-toolbar-btn-square {
	height: 3rem;
	padding: 0;
	width: 3rem;
}
.helperbird-toolbar-navbar {
	display: flex;
	align-items: center;
}
.helperbird-toolbar-navbar > * {
	display: flex;
}
.helperbird-toolbar-btn {
	font-weight: 600;
	border-width: var(--border-btn, 1px);
	-webkit-animation: button-pop var(--animation-btn, 0.25s) ease-out;
	animation: button-pop var(--animation-btn, 0.25s) ease-out;
}
.helperbird-toolbar-btn:active:focus,
.helperbird-toolbar-btn:active:hover {
	-webkit-animation: none;
	animation: none;
}
.helperbird-toolbar-btn:active:focus,
.helperbird-toolbar-btn:active:hover {
	transform: scale(var(--btn-focus-scale, 0.95));
}
.helperbird-toolbar-btn {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--n, 219 14% 28%) / var(--tw-bg-opacity));
	--tw-border-opacity: 1;
	border-color: hsla(var(--n, 219 14% 28%) / var(--tw-border-opacity));
	--tw-text-opacity: 1;
	color: hsla(var(--nc, 0 0% 100%) / var(--tw-text-opacity));
}
.helperbird-toolbar-btn:hover {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--bc, 152 100% 50%) / var(--tw-bg-opacity));
	--tw-border-opacity: 1;
	border-color: hsla(var(--nf, 222 13% 19%) / var(--tw-border-opacity));
}
.helperbird-toolbar-btn-ghost {
	background-color: transparent;
	border-color: transparent;
	border-width: 1px;
	color: currentColor;
}
.helperbird-toolbar-btn-ghost:hover {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--bc, 152 100% 50%) / var(--tw-bg-opacity));
	--tw-bg-opacity: 0.2;
	--tw-border-opacity: 0;
}
.helperbird-toolbar-navbar {
	padding: var(--navbar-padding, 0.5rem);
}
.helperbird-toolbar-bg-neutral {
	--tw-bg-opacity: 1;
	background-color: hsla(var(--n, 219 14% 28%) / var(--tw-bg-opacity));
}
.helperbird-toolbar-inline-block {
	display: inline-block;
}
.helperbird-toolbar-flex {
	display: flex;
}
.helperbird-toolbar-hidden {
	display: none;
}
.helperbird-toolbar-items-stretch {
	align-items: stretch;
}
.helperbird-toolbar-flex-1 {
	flex: 1 1 0%;
}
.helperbird-toolbar-flex-none {
	flex: none;
}
.helperbird-toolbar-font-bold {
	font-weight: 700;
}
.helperbird-toolbar-h-6 {
	height: 1.5rem;
}
.helperbird-toolbar-text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.helperbird-toolbar-mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.helperbird-toolbar-mr-2 {
	margin-right: 0.5rem;
}
.helperbird-toolbar-mb-2 {
	margin-bottom: 0.5rem;
}
.helperbird-toolbar-px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.helperbird-toolbar-shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
		var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
* {
	--tw-ring-inset: var(--tw-empty);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 transparent;
	--tw-ring-shadow: 0 0 transparent;
}
.helperbird-toolbar-stroke-current {
	stroke: currentColor;
}
.helperbird-toolbar-text-neutral-content {
	--tw-text-opacity: 1;
	color: hsla(var(--nc, 0 0% 100%) / var(--tw-text-opacity));
}
.helperbird-toolbar-w-5 {
	width: 1.25rem;
}
.helperbird-toolbar-w-6 {
	width: 1.5rem;
}
.helperbird-toolbar-rounded-box {
	border-radius: var(--rounded-box, 1rem);
}
.helperbird-toolbar-rounded-btn {
	border-radius: var(--rounded-btn, 0.5rem);
}
.helperbird-toolbar-rounded-btn:active {
	background-color: hsla(var(--bc, 152 100% 50%) / var(--tw-bg-opacity));
}
@media (min-width: 1024px) {
	.helperbird-toolbar-lg\:flex {
		display: flex;
	}
}

.helperbird-toolbar-button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
.helperbird-toolbar-button {
	text-transform: none;
}
.helperbird-toolbar-button {
	-webkit-appearance: button;
}
.helperbird-toolbar-button {
	background-color: transparent;
	background-image: none;
}
.helperbird-toolbar-button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.helperbird-toolbar-button {
	cursor: pointer;
}
.helperbird-toolbar-a {
	color: inherit;
	text-decoration: inherit;
}
.helperbird-toolbar-button {
	padding: 0;
	line-height: inherit;
	color: inherit;
}
.helperbird-toolbar-svg {
	display: block;
	vertical-align: middle;
}
.helperbird-toolbar-inline-block {
	display: inline-block;
}
.helperbird-toolbar-flex {
	display: flex;
}
.helperbird-toolbar-hidden {
	display: none;
}
.helperbird-toolbar-items-stretch {
	align-items: stretch;
}
.helperbird-toolbar-flex-1 {
	flex: 1 1 0%;
}
.helperbird-toolbar-flex-none {
	flex: none;
}
.helperbird-toolbar-font-bold {
	font-weight: 700;
}
.helperbird-toolbar-h-6 {
	height: 1.5rem;
}
.helperbird-toolbar-text-lg {
	font-size: 1.125rem;
}
.helperbird-toolbar-text-lg {
	line-height: 1.75rem;
}
.helperbird-toolbar-mx-2 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.helperbird-toolbar-mr-2 {
	margin-right: 0.5rem;
}
.helperbird-toolbar-mb-2 {
	margin-bottom: 0.5rem;
}
.helperbird-toolbar-px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.helperbird-toolbar-shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.helperbird-toolbar-shadow-lg {
	box-shadow: 0 0 transparent, 0 0 transparent, var(--tw-shadow);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent),
		var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}
* {
	--tw-ring-inset: var(--tw-empty);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 transparent;
	--tw-ring-shadow: 0 0 transparent;
}
.helperbird-toolbar-stroke-current {
	stroke: currentColor;
}
.helperbird-toolbar-w-5 {
	width: 1.25rem;
}
.helperbird-toolbar-w-6 {
	width: 1.5rem;
}
@media (min-width: 1024px) {
	.helperbird-toolbar-lg\:flex {
		display: flex;
	}
}
