body {
  width: 400px;
  height: 200px;
  background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-weight: bolder;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  background-color: DodgerBlue;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: larger;
}

.custom-select:hover {
  color: black;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
 .b{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }
 
 .play{
    margin-right: 10px;

 }

 button
{ 
    width: 40%;
    display: flex;
    justify-content: space-around;
    padding: 10px 19px;
    font-family: 'Krona One', sans-serif;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3780c9;
    color: #ffffff;
    border-radius: 50px;
    font-size: 15px;
    font-weight: bolder;
}
    
button {
    border: 1px solid #ff7a59;
  }
  
  button:hover {
    border: 3px dotted #ff7a59;
    color: #ff7a59;
    background: #fff;
  }