@font-face {
	font-family: ProductSans;
	src: url(Product\ Sans\ Regular.ttf);
}

@font-face {
	font-family: ProductSansBold;
	src: url(Product\ Sans\ Bold.ttf);
}

body {
  width: 500px;
  height: 580px;
  background-color: #086788;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

#series {
  display: block;
}

.seriesCol {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.userprofile {
  display: flex;
  padding: 10px;
  flex-direction: row;
  font-family: 'ProductSans', sans-serif;
  justify-content: center;
}
.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}
.userimg {
  height: 70px;
  width: 70px;
  padding: 5px;
  border-radius: 30%;
  background-color: antiquewhite;
}
.panel-heading {
  
  padding: 20px;
  border: 0;
}

.panel-title {
  display: block;
  padding: 20px;
  color: #086788;
  border-radius: 20px;
  font-size: 15px;
  font-family: 'ProductSansBold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
  background-color: #FFF1D0;
}
.panel-heading a:before {
  font-family: 'ProductSans', sans-serif;
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
