@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*{
  box-sizing: border-box;
}

body {
  background-color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: black;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(12, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align:top;
  margin: 0 0 20;
  color: #f7ecec;
}

.form {
  padding: 20px 40px;
}

.form-control {
  margin-bottom: 10px;/*10px*/
  padding-bottom: 20px;/*20px*/
  position: relative;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 30px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 11spx;
  letter-spacing: 1.1px;
}

.form-control label {
  color: rgb(243, 237, 237);
  display: block;
  margin-bottom: 1px;
}

.form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  color: #fff;
  border-radius: 30px;
  padding: 10px;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.result {
  display: flex;
  color: #f0f0f0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.hide {
  display: none;
}

.resItem {
  padding: 50px;
  color: rgb(10, 233, 233);
}